@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


*{
    font-family: Roboto;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    margin: auto;
    margin-bottom: 25px;
}

header{
    text-align: center;
    background-color: pink;
    margin: 25px 0;
    padding: 25px;
    
    ul{
        display: flex;
        justify-content:  center;
        gap: 50px;
        list-style: none;

        a{
            text-decoration: none;
            color: white;
        }
        a:hover{
            color:rgb(139, 16, 63)
        }
    }
   
}

main{
    max-width: 800px;
    margin: auto;
    padding: 50px;

    ul{
        margin-left: 20px;
    }
    
    h2{
        color: pink;
        margin: 25px 0;
    }
}

footer{
    background-color:rgb(161, 231, 114);
    text-align: center;
}

blockquote{
    background-color:rgb(240, 240, 240);
    front-style: italic;
    border-left: 5px solid pink;
    margin: 10px 0;
    padding: 15px 20px;
}